<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

 <ion-input placeholder="Usuário"></ion-input>
 <ion-input placegolder= "Senha"></ion-input>
 <ion-input> Login </ion-button>

</ion-content>
